# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Migration cache files but keep actual migration scripts
*/migrations/__pycache__/
!*/migrations/*.py

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot

# Database / media
db.sqlite3
media/
staticfiles/

# IDE files
.vscode/
.idea/
*.swp
.DS_Store